@model IEnumerable<APixelADay.Models.PixelArt>

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            @*This td is for the PixelArtURL, implement this once the invalid column exception gets fixed*@
            <td>

            </td>
            <td>
                
                <a class="btn btn-secondary" asp-route-id="@item.PixelArtID" asp-action="Edit">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PixelArtID">Delete</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
@* Prints out page numbers (pagination) *@
<ul class="pagination">
    @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++)
    {
        if (i == (int)ViewData["CurrentPage"])
        {
            <li class="page-item active">
                <a class="page-link" asp-action="Gallery" asp-route-id="@i">@i</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Gallery" asp-route-id="@i">@i</a>
            </li>
        }
    }
</ul>
