@page
@model APixelADay.Views.Commissions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommissionsLog[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionsLog[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionsLog[0].CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionsLog[0].DateStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionsLog[0].DateCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CommissionsLog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ComissionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ComissionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ComissionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
